@import "theme.rasi"

configuration {
    show-icons: true;
}

* {
    font: "JetBrainsMono Nerd Font 11";
}

window {
    width: 65%;
    location: center;
    anchor: center;
    border-radius: 12px;
    background-color: #282828;
    border: 2px;
    border-color: #504945;
    padding: 18px;
}

mainbox {
    background-color: transparent;
    children: [ "inputbar", "listview" ];
    spacing: 16px;
}

inputbar {
    background-color: #3c3836;
    border-radius: 8px;
    padding: 8px 12px;
    children: [ "prompt", "entry" ];
}

prompt {
    background-color: transparent;
    text-color: #fabd2f;
    margin: 0px 8px 0px 0px;
}

entry {
    background-color: transparent;
    text-color: #ebdbb2;
    placeholder: "Search themes...";
    placeholder-color: #928374;
}

listview {
    background-color: transparent;
    columns: 4;
    lines: 2;
    spacing: 16px;
    cycle: true;
    dynamic: true;
    flow: horizontal;
}

element {
    background-color: #3c3836;
    text-color: #ebdbb2;
    orientation: vertical;
    border-radius: 8px;
    padding: 12px;
    spacing: 8px;
}

element selected {
    background-color: #504945;
    text-color: #fabd2f;
    border: 2px;
    border-color: #fabd2f;
}

element-icon {
    background-color: transparent;
    size: 160px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    margin: 4px 0px 0px 0px;
}
